<%= render "shared/second-header" %>

<%= form_with model: @member, url: member_registration_path, class: 'registration-main', local: true do |f| %>
<div class='form-wrap container'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      ユーザー情報入力
    </h1>
  </div>

  <%= render 'devise/shared/error_messages', model: f.object %>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">名前</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_field :name, class:"input-default mb-2", id:"name", placeholder:"例) 山下太郎", maxlength:"40" %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">事業所</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.collection_select(:department_id, Department.all, :id, :name, {}, {class:"member-registration-select-box mb-2", id:"department"}) %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">メールアドレス</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.email_field :email, class:"input-default mb-2", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
  </div>

  <div class='register-btn'>
    <%= f.submit "登録" ,class:"register-red-btn btn btn-info btn-lg" %>
  </div>
</div>
<% end %>
