<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='nav'>
    <div class="damatt-icon-wrap">
      <%= link_to image_tag("damatt-logo.png", class:"damatt-icon"), "/" %>
    </div>
    <div class='search-bar-contents'>
      <%= search_form_for @p, url: search_items_path do |f| %>
        <%= f.label :name_or_detail_or_control_number_cont, 'キーワード' %>
        <%= f.search_field :name_or_detail_or_control_number_cont, class: "input-box", placeholder: "キーワードを入力" %>
        <br>
        <%= f.label :category_id_eq, 'カテゴリー' %>
        <%= f.collection_select :category_id_eq, Category.all, :id, :name, include_blank: '指定無し' %>
        <%# <br> %>
        <%= f.submit '検索', class:"btn btn-info mx-1 search-button",name: "search",'data-disable-with' => false %>
        <%# <%= f.submit '検索', class:"btn btn-info mx-5",name: "search" %>
        <%= f.submit 'CSV出力', class:"btn btn-warning mx-1 csv-button",name: "CSVoutput",'data-disable-with' => false %>
        <%# <%= f.submit 'CSV出力', class:"btn btn-warning mx-5",name: "CSVoutput" %>
        <%# <br> %>
      <% end %>
    </div>
  </div>
  <div class='nav'>
    <%# <ul class='lists-left'>
      <%# パンくずリスト %>
    <%# </ul> %>
    <ul class='lists-center'>
      <br>
      <h1>共有備品管理アプリ</h1>
    </ul>
    <ul class='lists-right'>
      <% if member_signed_in? %>
        <li><%= link_to current_member.name + 'さん', edit_member_registration_path, class: "member-name btn btn-info" %></li>
        <li><%= link_to 'ログアウト', destroy_member_session_path, method: :delete, class: "logout btn btn-danger" %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_member_session_path, class: "login btn btn-primary" %></li>
        <li><%= link_to '新規登録', new_member_registration_path, class: "sign-up btn btn-warning" %></li>
        <li><%= link_to 'ゲストログイン', members_guest_sign_in_path, method: :post, class: "sign-up btn btn-sm btn-success" %></li>
      <% end %>
    </ul>
  </div>
</header>

