<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='nav'>
    <div class="damatt-icon-wrap">
      <%= link_to image_tag("damatt-logo.png", class:"damatt-icon"), "/" %>
    </div>
    <div class='search-bar-contents'>
      <%= search_form_for @p, url: search_items_path do |f| %>
        <%= f.label :name_or_detail_cont, 'キーワード' %>
        <%= f.search_field :name_or_detail_cont, class: "input-box", placeholder: "キーワードを入力" %>
        <br>
        <%= f.label :category_id_eq, 'カテゴリー' %>
        <%= f.collection_select :category_id_eq, Category.all, :id, :name, include_blank: '指定無し' %>
        <%# <br> %>
        <%= f.submit '検索', class:"btn btn-info mx-5" %>
        <%# <br> %>
      <% end %>
    </div>
  </div>
  <div class='nav'>
    <ul class='lists-left'>
      パンくずリスト
    </ul>
    <ul class='lists-center'>
      ページ情報
    </ul>
    <ul class='lists-right'>
      <% if member_signed_in? %>
        <li><%= link_to current_member.name, edit_member_registration_path, class: "member-name" %>さん</li>
        <li><%= link_to 'ログアウト', destroy_member_session_path, method: :delete, class: "logout" %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_member_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_member_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</header>

