<%= render "shared/second-header" %>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card newsession-login">
        <div class="card-body">
          <P class="newsession-title">ログイン</P>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <%= f.label :email, 'メールアドレス' %><br/>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>            
            </div>
            <div class="form-group">
              <%= f.label :password , 'パスワード' %><br/>
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>            
            </div>
            <%= f.submit "ログイン", class: "btn btn-primary w-100 newsession-button" %>
            <div class="login__reminder">
              <%= link_to 'ゲストログイン', members_guest_sign_in_path, method: :post, class: "sign-up btn btn-sm btn-success" %></li>
            </div>
            <div class="login__reminder">
              <%= link_to "パスワードをお忘れの方", new_password_path(resource_name), class: 'login__reminder-a' %>
            </div>
          <% end %>      
        <div>
      <div>
    </div>
  </div>
</div>
