<%= render "shared/header" %>

<div class='item-contents container-fluid'>
  <div class="subtitle">
    <ul class="item-lists">
      <div class="row">
        <% @items.each do |item| %>
          <li class="list col-md-6 col-lg-3">
            <%= link_to item_path(item) do %>
              <div class='item-img-content'>
                <% if item.image.attached? %>
                  <%= image_tag item.image , class: "item-img img-fluid" %>
                <% else %>
                  <%= image_tag "Dummy001.png", class:"item-img img-fluid" %>
                <% end %>
              </div>

            <% end %>
          </li>
        <% end %>
      </div>
    </ul>
  </div>
<%= paginate @items -%>
</div>

<%= link_to(new_item_path, class: 'registration-btn') do %>
  <span class='registration-btn-text'>備品登録する</span>
  <%= image_tag 'item-registration-logo.png' , size: '100x100' ,class: "registration-btn-icon" %>
<% end %>

<%= render "shared/footer" %>