<%= render "shared/header" %>

<div class="item-show">
  <h4 class="name">
    <%= @item.name %>
  </h4>
  <%= render "lendingstatus" %>
  <div class="item-box container">
    <div class="row">
      <div class='item-img-content col-lg-4 col-sm-12'>
        <% if @item.image.attached? %>
          <%= image_tag @item.image , class: "item-box-img img-fluid" %>
        <% else %>
          <%= image_tag "Dummy001.png", class:"item-box-img img-fluid" %>
        <% end %>             
      </div>

      <table class="detail-table col-lg-8 col-sm-12">
        <tbody>
          <tr>
            <th class="detail-item">カテゴリー</th>
            <td class="detail-value"><%= @item.category.name %></td>
          </tr>
          <tr>
            <th class="detail-item">詳細</th>
            <td class="detail-value"><%= @item.detail %></td>
          </tr>
          <tr>
            <th class="detail-item">ロケーション</th>
            <td class="detail-value"><%= @item.location.name %></td>
          </tr>
          <tr>
            <th class="detail-item">部門</th>
            <td class="detail-value"><%= @item.department.name %></td>
          </tr>
          <tr>
            <th class="detail-item">管理者</th>
            <td class="detail-value"><%= @item.member.name %></td>
          </tr>
          <tr>
            <th class="detail-item">購入日</th>
            <td class="detail-value"><%= @item.purchase_date %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="deleteedit-wrap">
      <% if member_signed_in? && @item.lending == nil %>
        <% if current_member.department.id == @item.member.department.id %>
          <%= link_to '削除', item_path(@item.id), method: :delete, class:'item-destroy', data: { confirm: '削除しますか？' }  %>
          <%= link_to '備品の編集', edit_item_path(@item.id), method: :get, class: "item-edit" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="lending-wrap">
  <h2>利用状況・利用登録</h2>
  <%= render "lendingstatus" %>
  <%= form_with(model: [@item, @lending], local: true) do |f|%>
    <div class="form-group">
      <div class='input-lending-wrap'>
        <%= f.label :starttime, '開始時間' %>
        <%= f.datetime_select(
                      :starttime,
                      class:'select-starttime',
                      id:"starttime-datetime",
                      use_month_numbers: true,
                      prompt:'--',
                      start_year: Time.current.year,
                      end_year: (Time.current.year + 1),
                      minute_step: 15,
                      date_separator: '',
                      time_separator: '',
                      datetime_separator: "___") %>
      </div>
      <div class='input-lending-wrap'>
        <%= f.label :finishtime, '終了時間' %>
        <%= f.datetime_select(
                      :finishtime,
                      class:'select-finishtime',
                      id:"finishtime-datetime",
                      use_month_numbers: true,
                      prompt:'--',
                      start_year: Time.current.year,
                      end_year: (Time.current.year + 1),
                      minute_step: 15,
                      date_separator: '',
                      time_separator: '',
                      datetime_separator: "___") %>
      </div>
    </div>
    <div class="actions">
      <% if @item.lending == nil %>
        <%= f.submit "利用する", class: "btn btn-primary btn-lending"  %>
      <% end %>
    </div>
  <% end %>
  <% if member_signed_in? && @item.lending != nil && @item.lending.member_id == current_member.id %>
    <%= button_to '返却する', item_lending_path(@item.id), method: :delete \
        , class: "btn btn-warning btn-lending" %>
  <% end %>
</div>

<div class="reservation-wrap">
  <h2>予約登録</h2>
  <%= form_with(model: [@item, @reservation], local: true) do |f|%>
    <div class="form-group">
      <div class='input-lending-wrap'>
        <%= f.label :starttime, '予約開始時間' %>
        <%= f.datetime_select(
                      :starttime,
                      class:'select-starttime',
                      id:"starttime-datetime",
                      use_month_numbers: true,
                      prompt:'--',
                      start_year: Time.current.year,
                      end_year: (Time.current.year + 1),
                      minute_step: 15,
                      date_separator: '',
                      time_separator: '',
                      datetime_separator: "___") %>
      </div>
      <div class='input-lending-wrap'>
        <%= f.label :finishtime, '予約終了時間' %>
        <%= f.datetime_select(
                      :finishtime,
                      class:'select-finishtime',
                      id:"finishtime-datetime",
                      use_month_numbers: true,
                      prompt:'--',
                      start_year: Time.current.year,
                      end_year: (Time.current.year + 1),
                      minute_step: 15,
                      date_separator: '',
                      time_separator: '',
                      datetime_separator: "___") %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit "予約する", class: "btn btn-info btn-lending"  %>
    </div>
  <% end %>
  <div class="reservation-status-wrap">
    <h2>予約状況</h2>
    <% if @reservations %>
      <table class="table table-sm table-striped">
        <thead>
          <tr>
            <th>No.</th>
            <th>開始時間</th>
            <th>終了時間</th>
            <th>利用者</th>
            <th>部門</th>
            <th>取消</th>
          </tr>
        </thead>
        <tbody>
          <% @reservations.each_with_index do |reservation, i| %>
            <tr>
              <td><%= i + 1 %> </td>
              <td><%= reservation.starttime.strftime('%Y/%m/%d(%a) %H:%M') %> </td>
              <td><%= reservation.finishtime.strftime('%m/%d %H:%M') %> </td>
              <td><%= reservation.member.name %> </td>
              <td><%= reservation.member.department.name %> </td>
              <% if member_signed_in? && reservation.member_id == current_member.id %>
                <td><%= button_to '取消', item_reservation_path(@item,reservation), method: :delete \
                , class: "btn btn-danger btn-sm" , data: { confirm: '予約取消しますか？' } %> </td>
              <% else %>
                <td></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>

</div>

<%= render "shared/footer" %>
